{{- $defaultSize := .Get .Site.Params.theme.font_size.code -}}
{{- $size := .Get "size" | default $defaultSize -}}
<asciinema-player {{ if eq (.Get "autoplay" | default "false") "true" }}data-autoplay{{ end }} src="{{ .Get "src" | relURL }}" {{ with .Get "speed" }}speed="{{ . }}"{{ end }} {{ with .Get "idle-time-limit" }}idle-time-limit="{{ . }}"{{ end }} {{ with .Get "start-at" }}start-at="{{ . }}"{{ end }} {{ with .Get "title" }}title="{{ . }}"{{ end }} {{ with .Get "poster" }}poster="npt:{{ . }}"{{ end }} font-size="{{ $size }}" preload="true"></asciinema-player>
