// Menu
.slide-menu-items {
  font-family: $headingFont;
}

.slide-menu-wrapper .slide-menu-toolbar {
  display: none !important;
}

.slide-menu-wrapper .slide-menu-panel {
  height: 100% !important;
}
